@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
}

/* purgecss start ignore */

.ProseMirror table {
  @apply table-fixed border-collapse w-full;
}

.ProseMirror td {
  @apply border p-1 align-top;
}

.ProseMirror ol {
  @apply list-decimal ml-6;
}

.ProseMirror ol:not(:first-child),
.ProseMirror p:not(:first-child),
.ProseMirror table:not(:first-child) {
  @apply mt-2;
}

header.edit .p-inplace {
  display: inline-flex;
}

.p-panelmenu .pi-angle-left::before,
.p-panelmenu .pi-angle-down::before,
.p-panelmenu .pi-download::before,
header.edit .p-breadcrumb-chevron::before {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons Outlined";
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.p-panelmenu .pi-angle-left::before {
  content: "chevron_left";
}
.p-panelmenu .pi-angle-down::before {
  content: "expand_more";
}
.p-panelmenu .pi-download::before {
  content: "file_download";
}
header.edit .p-breadcrumb-chevron::before {
  content: "chevron_right";
}

#app {
  font-family: BundesSansWeb, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  color: #000;
}

/* purgecss end ignore */
